/*body{
    background: url(../img/bg.png) ;
    max-width: 1024px;
    max-height: 768px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size:1024px 768px  ;  
}*/

@media (max-width:1024px) {
    body{
        height: 100vh;
    }
}

body{
    overflow: hidden;
    max-width: 1024px;
    max-height: 768px;
    overflow-x: hidden;
}
.wrapper__background{
    height: 768px;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;

}

.wrapper{position: relative;
  
}
.wrapper__global {
    position: absolute;
    left: 124px;
    top:0;
    display: flex;
    margin-top: 25.5px;
    z-index: 100;
}
.wrapper__svg {
}
.hovered-path {
}
.wrapper__project {
    border-left: 1px solid black;
    font-size: 19px;
    margin-left: 22.5px;
    padding-left: 22.5px;
}

.wrapper__domsideGlobal {
    position: absolute;
    left: 124px;
    bottom: 13.5px;
    z-index: 100;
}
.wrapper__wrapper__domsideGlobalSvg {
}
.cls-1 {
}










.mouvablePart {
    position: absolute;
    left: 127px;
    top: 150px;
    width: 1024px;
    height: 768px;
}
.mouvablePart__body {
    display: flex;
}
.mouvablePart__item {
    width: 1024px;
    height: 768px;
}
.firstItem {
}
.firstItem__item-body {
}
.firstItem__hello {
    font-size: 22.5px;
    font-family: 'Myriad Pro';
    font-weight: normal;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-bottom: 35.5px;
}
.firstItem__itIsNot {
    font-size: 99px;
    font-family: 'Myriad Pro3';
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 7.5px;
    span{
        font-family: 'Myriad Pro';
        font-weight: 900;
        display: inline-block;
        margin-bottom: 20px;
    }
    -webkit-font-smoothing: subpixel-antialiased;
}
.firstItem__downsidePart {
    display: flex;
    align-items:center;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}
.firstItem__task {
    font-size: 99px;
    font-family: 'Myriad Pro3';
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 7.5px;
}
.firstItem__button {
}
.frstBtn {
    margin-left: 51px;
}
.frstBtn__button-body {
    width: 287.5px;
    height: 80px;
    padding: 15.5px 35px 16px 19.5px;
    border-radius: 80px;
    background-color: #ff6a9f;
    display: flex;
}
.frstBtn__round {
    width: 51px;
    height: 51px;
    background-color: black;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    svg{
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
}
}
.frstBtn__whtsNext {
    font-size: 22.5px;
    font-family: 'Myriad Pro';
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 39px;
}


.firstItem__underTaskSvg{
    position: absolute;
    right: 130px;
    top: 12%;
}

.firstItem__overHello{
    position: absolute;
    left: -127px;
    top: -82px;
}
.firstItem__aboveSperm{
    position: absolute;
    right: 269px;
    top: -73px;
}
.firstItem__blueSpot{
    position: absolute;
    right: 99px;
    top: -115px;
}

.firstItem__britgherBlueSpot{
    position: absolute;
    bottom: 181px;
    left: 196px;
}
.firstItem__bigBottomSubstance{
    position: absolute;
    bottom: 150px;
    right: 390px;
}

.firstItem__pinkSperm{
    position: absolute;
    right: 0;
    top:0;
}
.firstItem__nearTask{
    position: absolute;
    left: -47px;
    bottom: 350px;
}
.firstItem__sperm2{
    position: absolute;
    left: -103px;
    bottom: 153px;
}





.mouvablePart__item {
}
.secondItem {
    max-height: 550px;
    margin-left: 170px;
}
.secondItem__body {
    width: 827px;
    height: 550px;
    ::-webkit-scrollbar{
        width: 22.5px;
    }
    ::-webkit-scrollbar-thumb{
        width: 22.5px;
        background: linear-gradient(95deg,#fc4485 10%,#fc4485 20%,#c96789 60%,#c96789 80%,#fff 100%);
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
    ::-webkit-scrollbar-track{
        background: linear-gradient(90deg,transparent 40%,rgba(0,0,0,1)40%,rgba(0,0,0,1)60%,transparent 60%,);
        width: 12.5px;
        border-radius:46%;
        -webkit-border-radius:46%;
        -moz-border-radius:46%;
        -ms-border-radius:46%;
        -o-border-radius:46%;
}
}
.secondItem__caption {
    max-width: 182.5px;
    font-size: 22.5px;
    font-family: 'Myriad Pro';
    font-weight: normal;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-bottom: 35.5px;
    letter-spacing: 4px;
}
.secondItem__scrollBlock {
    overflow: auto;
    width: 824px;
    height: 446px;
    padding: 20px;
    text-align: left;
    direction: rtl;
}
.secondItem__scrollBlock-cyst{
    background-color:rgb(246, 246, 246);
    height: 467px;
    position: absolute;
    top: 63px;
    width: 756px;
    border-radius: 34px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    -ms-border-radius: 34px;
    -o-border-radius: 34px;
}
.secondItem__text {
    height: 1583px;
    font-size: 20px;
    font-family: 'Myriad Pro3';
    font-weight: 200;
    letter-spacing: 0.5px;
    background-color: rgb(246, 246, 246);
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: hidden;
    position: relative;
    border-radius: 34px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    -ms-border-radius: 34px;
    -o-border-radius: 34px;
}

.secondItem__lowestSperm{
    position: absolute;
    right: -110px;
    bottom: -57px;
    z-index: -1;
}
.secondItem__anotherOne{
    position: absolute;
    z-index: -1;
    left: -83px;
    top: -135px;
}
.secondItem__anotherOneDown{
    position: absolute;
    z-index: -1;
    bottom: -47px;
    right: -138px;
}
.secondItem__bigestOne{
    position: absolute;
    z-index: -1;
    top: -167px;
    left: -112px;
}
.secondItem__middeleUpSperm{
    position: absolute;
    z-index: -1;
    top: -141px;
    left: -100px;
}



.mouvablePart__item {
}
.thirdItem {
    margin-left: 170px;
    
}
.thirdItem__body {
    width: 1024px;
    height: 768px;
}
.thirdItem__subCaption {
    
    font-size: 22.5px;
    white-space: nowrap;
    font-family: 'Myriad Pro';
    font-weight: normal;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    display: flex;
    justify-content: space-around;
    display: none;
}
.thirdItem__caption {
    font-size: 99px;
    font-family: 'Myriad Pro3';
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 7.5px;
    display: flex;
    justify-content: center;
    span{
        font-family: 'Myriad Pro';
        font-weight: 900;
    }
    display: none;
}
.thirdItem__downside {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.thirdDown {
    display: none;
}
.thirdDown__body {
    display: flex;
    position: relative;
}
.thirdDown__leftSide {
    background-color: rgb(235, 235, 235);
    border-radius: 34px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    -ms-border-radius: 34px;
    -o-border-radius: 34px;
}
.thirdDown__leftSide-body {
    background-color: rgb(235, 235, 235);
    position: relative;
    padding-left: 100px;
    border-radius: 34px;
}
.thirdDown__leftSide-text {
    font-size: 26px;
    font-family: 'Myriad Pro3';
    font-weight: 200;
    letter-spacing: 0.5px;
    padding: 20px;
    max-width: 265px;
    padding: 40px 30px 40px 0px;
}
.thirdDown__leftSide-img {
    position: absolute;
    top: -36px;
}
.thirdDown__rightSide {
    margin-left: 30px;
    position: relative;
    z-index: 60;
}
.thirdDown__rightSide-body {
}
.thirdDown__upStructure {
    background-color: rgb(235, 235, 235);
    position: relative;
    border-radius: 34px;
}
.thirdDown__rightSide-text {
    font-size: 26px;
    max-width: 140px;
    font-family: "Myriad Pro3";
    font-weight: 200;
    letter-spacing: 0.5px;
    padding: 40px 30px 40px 41px;
    max-width: 200px;
}
.thirdDown__rightSide-img {
    position: absolute;
    top: -36px;
    left: 40px;
}
.thirdDown__buttonStructure {
    background-color: #ff6a9f;
    height: 83px;
    width: 266px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}
.thirdDown__round {
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 22px;
    font-weight: 900;
}
.thirdDown__texT {
    font-size: 26px;
    font-family: 'Myriad Pro3';
    font-weight: 900;
    letter-spacing: 2px;
    margin-right: 15px;
}


.thirdItem__bottle{
    position: absolute;
    bottom: -181px;
    left: -208px;
    z-index: 50;
}

.thirdItem__middlePinkBuble{
    position: absolute;
    left: -189px;
    top: 149px;
    z-index: 51;
}
.thirdItem__tinyBlueBuble{
    position: absolute;
    top: 68px;
    left: -204px;
    z-index: 51;
}
.thirdItem__bigestBlueBuble{
    position: absolute;
    left: 0px;
    bottom: -181px;
    z-index: 51;
}
.thirdItem__middleBlueBuble{
    position: absolute;
    left: -26px;
    top: -194px;
    z-index: 51;
}
.thirdItem__saturatedPinkBuble{
    position: absolute;
    top: -129px;
    left: -130px;
    z-index: -1;
}
.thirdItem__bigestPinkBuble{
    position: absolute;
    left: -30px;
    top: -29px;
}
.thirdItem__topBlueBuble{
    position: absolute;
    top: -275px;
    left: -12px;
}
.thirdItem__bottomBlueBuble{
    position: absolute;
    bottom: -14px;
    left: 40px;
}




.thirdItem__popup {
}
.popUP {
    margin-left: 30px;
}
.popUp__body {
    margin-left: 100px;
    padding-left: 200px;
    max-width: 805px;
    background-color: #FFF;
    border-radius: 34px;
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 10px 5px 5px black;
}
.popUP__cross-cyst{
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 56;
    right: 25px;
    top: 20px;
}
.popUp__cross {
    position: relative;
    bottom: -24px;
    right: -2px;
}
.popUP__bar {
    width: 50px;
    height: 4px;
    background-color: black;
}
.popUP__bar:first-child{
    transform: rotate(45deg) translate(0px, 3px);
    -webkit-transform: rotate(45deg) translate(0px, 3px);
    -moz-transform: rotate(45deg) translate(0px, 3px);
    -ms-transform: rotate(45deg) translate(0px, 3px);
    -o-transform: rotate(45deg) translate(0px, 3px);
}
.popUP__bar:last-child{
    transform: rotate(-45deg) translate(0px, -3px);
    -webkit-transform: rotate(-45deg) translate(0px, -3px);
    -moz-transform: rotate(-45deg) translate(0px, -3px);
    -ms-transform: rotate(-45deg) translate(0px, -3px);
    -o-transform: rotate(-45deg) translate(0px, -3px);
}
.popUP__subCaption {
    max-width: 540px;
    font-size: 22.5px;
    white-space: nowrap;
    font-family: 'Myriad Pro';
    font-weight: normal;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    display: flex;
}
.popUP__caption {
    max-width: 540px;
    font-size: 99px;
    font-family: 'Myriad Pro3';
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 7.5px;
    margin-left: -7.5px;
    display: flex;
    span{
        font-family: 'Myriad Pro';
        font-weight: 900;
    }
}
.popUP__bottle {
    position: absolute;
    bottom: -87px;
    left: -135px;
    z-index: 50;
}
.popUP__middlePinkBuble {
    position: absolute;
    left: -116px;
    bottom: 57px;
    z-index: 51;
}
.popUP__tinyBlueBuble {
    position: absolute;
    bottom: 200px;
    left: -131px;
    z-index: 51;
}
.popUP__bigestBlueBuble {
    position: absolute;
    left: 73px;
    bottom: -87px;
    z-index: 51;
}
.popUP__middleBlueBuble {
    position: absolute;
    left: 47px;
    top: 29px;
    z-index: 51;
}
.popUP__saturatedPinkBuble {
    position: absolute;
    top: 61px;
    left: -57px;
    z-index: -1;
}
.popUP__bigestPinkBuble {
    position: absolute;
    left: 43px;
    top: 167px;
}
.popUP__topBlueBuble {
    position: absolute;
    top: -88px;
    left: 61px;
}
.popUP__bottomBlueBuble {
    position: absolute;
    bottom: 80px;
    left: 113px;
}
.popUP__movableBlock {
    position: relative;
    z-index: 55;
    max-width: 540px;
}
.popUpMove {
}
.popUpMove__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popUpMove__upside {
    display: none;
}
.popUpMove__upside.active {
    display: block;
}
.popUpMove__item {
    font-size: 26px;
    font-family: "Myriad Pro3";
    font-weight: 200;
    letter-spacing: 0.5px;
}
.popUpMove__item-up {
    font-family: 'Myriad Pro2';
    font-weight: 900;
    font-size: 20px;
    color: #7aa3d5;
    margin-bottom: 19px;
}
.popUpMove__item-down {
    max-width: 540px;
    margin-bottom: 26px;
}
.popUpMove__downside {
    display: none;
}
.popUpMove__downside.active {
    display: block;
}
.popUpMove__changer {
    display: flex;
    align-items: center;
}
.popUpMove__left {
    margin-right: 18px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.popUpMove__round.one {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 1px solid black;
    margin-right: 9px;
}
.popUpMove__round.one.active{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 0px solid black;
    background-color:#ff6a9f;
    margin-right: 9px;
}
.popUpMove__round.two {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 1px solid black;
    margin-right: 18px;
}
.popUpMove__round.two.active{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 0px solid black;
    background-color:#ff6a9f;
    margin-right: 9px;
}
.popUpMove__right {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}